<!-- Tanadon Sangkhatorn 6188060 -->
<!-- Thanyanit Jongjitragan 6188075 -->
<!DOCTYPE html>
<html>
<head>
<title>Booking</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	<div class="main-w3layouts wrapper">
		<h1>BOOKING</h1>
		<div>
			<div>
				<form action="/booking" method="post">
                    <input class="text" type="text" name="Firstname" placeholder="Firstname" required=""> <br><br>
					<input class="text" type="text" name="Lastname" placeholder="Lastname" required=""><br><br>

					Check-in <br>
					<input class="input--style-3" type="date" name="StartDate" placeholder="From date" required=""> <br><br>
					Check-out <br>
					<input class="input--style-3" type="date" name="EndDate" placeholder="To date" required=""> <br><br>

					<b>Room type</b><br><br>

					<input type="radio" name="RoomType" value="Single">Single [{{priceSingle}}฿]: {{countSingle}} rooms available<br>
					<input type="radio" name="RoomType" value="Double">Double [{{priceDouble}}฿]: {{countDouble}} rooms available <br>
					<input type="radio" name="RoomType" value="Suite">Suite [{{priceSuite}}฿]: {{countSuite}} rooms available <br>
					<input type="radio" name="RoomType" value="King">King [{{priceKing}}฿]: {{countKing}} rooms available <br>					
					<br>
					<input type="submit" value="Submit">
				</form>
			</div>
		</div>
	</div>
</body>
</html>