<!-- Tanadon Sangkhatorn 6188060 -->
<!-- Thanyanit Jongjitragan 6188075 -->
<!DOCTYPE html>
<html>
    <head>
        <title>Payment</title>
        <style>
            .font-freestyle-script {
				font-family: "Freestyle Script";
				}
            .button1 {
				background-color: #4CAF50;
				border: none;
				color: white;
				padding: 15px 32px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 25px;
				margin: 4px 2px;
				cursor: pointer;
			}
        </style>
    </head>
    <body bgcolor="#E6F2FF">
        <form action="/booking" method="post">
        <fieldset align="center">
            <table border="1" bgcolor = "#FFFFFF" align="center">
                <tr>
                    <th colspan="3">
                        <b><p class = 'font-freestyle-script' style="font-size:50px">Payment</p></b>
                    </th>
                </tr>
                <tr>
                    <td>
                        First name
                    </td>
                    <td align="left">
                        <input type="text" name="firstname" pattern="[a-zA-Z]+" title="First name must contain only letters" required><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        Last name
                    </td>
                    <td align="left">
                        <input type="text" name="lastname" pattern="[a-zA-Z]+" title="Last name must contain only letters" required><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        Check-in date
                    </td>
                    <td align="left">
                        <input type="date" name="startDate" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        Check-out date
                    </td>

                    <td align="left">
                        <input type="date" name="endDate" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        Room type
                    </td>
                    <td align="left">
                        <input type="radio" name="RoomType" value="Single">Single<br>
                        <input type="radio" name="RoomType" value="Double">Double<br>
                        <input type="radio" name="RoomType" value="Suite">Suite<br>
                        <input type="radio" name="RoomType" value="King">King<br>
                    </td>
                </tr>

                <tr>
                    <td>
                        Card Number
                    </td>
                    <td align="left">
                        <input id="cardnumber" type="text" pattern="[0-9]*" inputmode="numeric" required><br>
                    </td>
                </tr>

                <tr>
                    <td>
                        Expires date (MM/YY)
                    </td>
                    <td align="left">
                        <input id="expirationdate" type="text" pattern="[0-9]*" inputmode="numeric" required>
                    </td>
                </tr>

                <tr>
                    <td>
                        CVV
                    </td>
                    <td align="left">
                        <input id="cvv" type="password" pattern="[0-9]*" inputmode="numeric" required><br>
                    </td>
                </tr>
                

            </table>
            <br>
            <body align="center">
                <button type="submit" class="button1">Submit</button>
                <button type="reset" class="button1">Clear</button>


                
            </body>
        </fieldset>
    </form>
    </body>
