<!DOCTYPE html>
<html>
<head>
<title>Booking</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	<div class="main-w3layouts wrapper">
		<h1>BOOKING</h1>
		<div>
			<div>
				<form action="/register" method="post">
                    <input class="text" type="text" name="Firstname" placeholder="Firstname" required=""> <br><br>
					<input class="text" type="text" name="Lastname" placeholder="Lastname" required=""><br><br>

					Check-in <br>
					<input class="input--style-3" type="date" name="Date" placeholder="Date" required=""> <br><br>
					Check-out <br> <input class="input--style-3" type="date" name="Date" placeholder="Date" required=""><br><br>

					<b>Room type</b><br><br>

					<input type="radio" name="RoomType" value="Single">Single <br>
					<input type="radio" name="RoomType" value="Double">Double <br>
					<input type="radio" name="RoomType" value="Suite">Suite <br>
					<input type="radio" name="RoomType" value="King">King <br>					
					<br>
					<input type="submit" value="Submit">
				</form>
			</div>
		</div>
	</div>
</body>
</html>